@import "../../../../../scripts/static/styles/colors.scss";
@import "../../../../../scripts/static/styles/main.scss";

.navbar {
    background-color: transparent !important;
    position: absolute !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

    .navbar-brand {
        color: white !important;
        font-weight: bold;
        font-size: 25px;
        font-family: 'Nunito', sans-serif;

        .cyan {
            color: $cyan-600;
            font-weight: normal;
        }
    }

    .navbar-toggler-icon {
        color: white !important;
    }

    .nav-item .nav-link {
        color: $yellow-800;
        text-decoration: none;
        outline: none;
        font-weight: 500;
        font-family: 'Nunito', sans-serif;
    }

    .nav-btn {
        @extend .yellow-button;
        padding: 0 5px 0 8px;
        margin-right: 5px;
        background-color: $cyan-900;

        .nav-link {
            color: white;
            font-size: 16px;
        }
    }

    .nav-beta {
        color: $cyan-900 !important;
        font-weight: bold !important;
        font-size: 11px !important;
        margin-left: -12px;
        margin-bottom: 15px !important;
    }
}