@import "../../../../../scripts/static/styles/colors.scss";

.navbar {
    background-color: $yellow-700 !important;
    box-shadow: 0 23px 50px -22px gray;

    .navbar-brand {
        color: white !important;
        font-weight: bold;
        font-size: 25px;
        font-family: 'Nunito', sans-serif;

        .cyan {
            color: $cyan-600;
            font-weight: normal;
        }
    }

    .nav-item .nav-link {
        color: $cyan-600;
        text-decoration: none;
        outline: none;
        font-weight: 500;
        font-family: 'Nunito', sans-serif;
    }

    .auth-item .auth-link {
        color: white !important; 
        font-family: 'Nunito', sans-serif;
    }

    .nav-beta {
        color: $cyan-900 !important;
        font-weight: bold !important;
        font-size: 11px !important;
        margin-left: -12px;
        margin-bottom: 15px !important;
    }
}