@import "../../../../../scripts/static/styles/colors.scss";

.navbar {
    background-color: $yellow-700 !important;
    box-shadow: 0 23px 50px -22px gray;

    .navbar-brand {
        color: white !important;
        font-weight: bold;
        font-size: 25px;

        .cyan {
            color: $cyan-600;
            font-weight: normal;
        }
    }

    .nav-item .nav-link {
        color: $cyan-600;
        text-decoration: none;
        outline: none;
        font-weight: 500;
    }

    .auth-item .auth-link {
        color: white !important; 
    }
}