/** YELLOW COLORS **/

$yellow-50: unqoute("#FFFDE7");
$yellow-100: unquote("#FFF9C4");

$yellow-400: unqoute("#FFEE58");
$yellow-500: unqoute("#FFEB3B");
$yellow-600: unquote("#FDD835");
$yellow-700: unquote("#FBC02D");

$yellow-800: unquote("#F9A825");


/** PURPLE COLORS **/

$purple-500: unquote("#673AB7");
$purple-600: unquote("#5E35B1");

/** CYAN COLORS **/

$cyan-300: unquote("#4DD0E1");
$cyan-400: unquote("#26C6DA");
$cyan-500: unquote("#00BCD4");
$cyan-600: unquote("#00ACC1");
$cyan-700: unquote("#0097A7");