@import "../../../../../scripts/static/styles/colors.scss";
@import "../../../../static/styles/main.scss";

.team-container {
    padding: 20px;
    background-color: whitesmoke;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.team-header {
    padding: 30px;

    .team-title {
        color: $yellow-700;
        font-weight: bold;
        font-family: 'Nunito', sans-serif;
        font-size: 45px;
    }

    .separator {
        width: 15%;
        min-width: 80px;
        background-color: $yellow-700;
        border: solid 3px $yellow-700;
        border-radius: 25px;
    }
}

.team-messages {
    width: 60%;
    padding-bottom: 20px;
    position: absolute;
    left: 20%;

    .subscribe-btn {
        margin-top: 1rem;
        border: 5px solid $yellow-800;
        color: $yellow-800;
        font-size: 35px;
        font-weight: bold;
        border-radius: 10px;
        transition: all .3s;

        i {
            position: relative;
            bottom: -2.5px;
            font-size: 41px;
        }

        &:hover {
            border: 5px solid $cyan-900;
            color: $cyan-900;
            transform: scale(1.05);
        }
    }
}

.team-text {
    display: flex;
    align-items: center;
    box-shadow: 0 0 100px -35px $yellow-800;
    padding: 10px;
    margin: 30px;
    transition: all .2s;
    color: $cyan-900;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    border-radius: 20px;
    min-height: 220px;
}

.team-paragraph {
    width: 60%;
    font-size: 25px;
    line-height: 30px;

    li {
        font-size: 20px;
        list-style-type: none;
        color: $cyan-700;
    }
}

.section {
    height: 100vh;  
}
.zap {
    width: 100% !important;
}

.graphic-container {
    .graphic {
        transition: all .5s;
        position: absolute;
        width: 200px;
        height: 200px;
        bottom: 200px;
        left: 50px;
        border-radius: 50%;
        border: solid 40px $yellow-400;
    }
    
    .graphic-one {
        transition: all .5s;
        position: absolute;
        bottom: -150px;
        left: -120px;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: solid 55px $cyan-900;
    }
}

.graphic-two {
    transition: all .5s;
    position: absolute;
    z-index: 1;
    bottom: 580px;
    right: -550px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: solid 78px $cyan-700;
}

.animation-graphic-one {
    border: solid 40px $cyan-400;
    animation: graphic-one-animate .5s infinite;
}


.trigger-one {
    position: absolute !important;
    top: 1000px !important;
    margin-top: 200px; 
}

@keyframes graphic-one-animate {
    0% { left: -140px }
    33% { left: -139.5px }
    66% { left: -140.5px }
    100% { left: -140px }
}