@import "../../../../../scripts/static/styles/colors.scss";
@import "../../../../static/styles/main.scss";

.team-container {
    padding: 20px;
    background-color: whitesmoke;
}

.team-header {
    padding: 30px;

    .team-title {
        color: $yellow-700;
        font-weight: bold;
        font-family: 'Nunito', sans-serif;
        font-size: 45px;
    }

    .separator {
        width: 15%;
        min-width: 80px;
        background-color: $yellow-700;
        border: solid 3px $yellow-700;
        border-radius: 25px;
    }
}

.team-messages {
    width: 75%;
    padding-bottom: 20px;
}

.team-text {
    display: flex;
    align-items: center;
    box-shadow: 0 0 100px -60px $yellow-800;
    padding: 10px;
    margin: 30px;
    transition: all .2s;
    color: $cyan-900;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    border-radius: 20px;
    min-height: 220px;
}

.team-paragraph {
    width: 60%;
    font-size: 20px;
}

.section {
    height: 100vh;  
}
.zap {
    width: 100% !important;
}

.animate-card {
    transition: all .2s;
    box-shadow: 0 0 100px -35px gray;
    transform: scale(1.1);
}