@import "../../../../../scripts/static/styles/colors.scss";
@import "../../../../static/styles/main.scss";

.team-header {
    padding: 30px;

    .team-title {
        color: $yellow-700;
        font-weight: bold;
    }

    .separator {
        width: 20%;
        min-width: 100px;
        background-color: $yellow-700;
        border: solid 3px $yellow-700;
    }
}

.team-paragraph {
    width: 60%;
}