@import "../../../../../scripts/static/styles/colors.scss";
@import "../../../../static/styles/main.scss";

.top-intro-container {
    background: linear-gradient(135deg, $cyan-800 5%, white 60%, $cyan-800 100%);
    padding: 100px;
    height: 100vh;
    min-width: 100%;
}

.pinned-container {
    @extend .pin-section;
}

.top-intro-row {
    padding: 45px;
}

.text-container {
    @extend .flex-column;
    @extend .flex-center;
    text-align: center;

    .top-heading {
        margin-top: -10px;
        width: 100%;
        font-size: 33px;
        font-weight: bold;
        color: white;
        font-family: 'Nunito', sans-serif;
    }
    
    .sub-heading {
        width: 70%;
        color: $cyan-800;
        font-family: 'Nunito', sans-serif;
    }

    .small-heading {
        color: $yellow-700;
        font-weight: bold;
        font-family: 'Nunito', sans-serif;
    }
    
    .join-button {
        @extend .yellow-button;
        margin-top: 20px;
    }

    .circle {
        background-color: $yellow-700;
        align-self: center;
        margin: 0 8px 3px 8px !important;
        height: 30%;
        width: 10px;
        border-radius: 100%;
    }
}

.lightbulb-container {

    .lightbulb-image {
        max-width: 100%;
    }

    .image-credit {
        font-size: 7px !important;
    }
}